.form-select:focus {
    box-shadow: none;
    border: 1px solid rgba(26, 26, 26, 0.32);
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(26, 26, 26, 0.32);
}
.progress-bar {
    background-color: #7CF288;
}
.progress, .progress-stacked {
    --bs-progress-bg: none;
}
.shadows{
    border-radius: 6px;
    border: 1px solid rgba(26, 26, 26, 0.32);
    box-shadow: 0px 1px 4px 1px rgba(115, 115, 115, 0.25); 
}
.shadows:focus {
    box-shadow: 0px 1px 4px 1px rgba(53, 53, 53, 0.25);
    outline: none;
}
.backg{
    border-radius: 20px 20px 0px 0px;
    background: rgba(188, 178, 246, 0.30);
    box-shadow: 0px 1px 4px 1px rgba(50, 50, 50, 0.25);
}
.formdata, .bwidth{
    width: 80%;
}

.inwidth{
    width:95%
}
@media (max-width: 800px) {
    .formdata, .bwidth {
        width: 100%;
    }
    .inwidth{
        width: 100%;
    }
}
.none{
    display: none;
}

.heightf{
    height: 65vh;
    justify-content: center;
    gap: 55px;
}
@media screen and (max-width:950px) {
    .heightf{
        height: 100%;
    }
}
